nav ul{
	display:flex;
	justify-content:space-between;
	margin:0px;
}
nav{
	background-color:lightgoldenrodyellow;
	border-radius:5px;
	height:70px;
	width:100%;
	border:1px solid lightblue;
	text-align:center;
}
nav li{
	text-align:center;
	margin-right:0px;
	margin:0px;
	color:red;
	margin-top:25px;
	justify-content:center;
	list-style:none;
	margin-right:50px;
}
nav a{
	color:lightskyblue;
	padding-top:50px;
	text-decoration:none;
	font-style:initial;
	font-weight:normal;
	font-family:sans-serif;
}
img{
	border:3px solid lightblue;
	border-radius:30px;
	margin-left:180px;
	margin-right:0px;
	margin-top:10px;
	margin-bottom:10px;

}
h1{
	text-align:center;
	font-family:sans-serif;
	font-display:normal;
	color:lightsteelblue;
	font-style:normal;
}
#shanky{
	border:4px dotted lightcoral;
	text-align:center;
	font-family:sans-serif;
	font-style:normal;
	color:darkgoldenrod;
	word-spacing:5px;
	border-radius:5px;
}